SITE_ID=__SITE_ID__
MONGODB_URI=mongodb://127.0.0.1:27017/__SITE_ID__
GCS_BUCKET_NAME=__SITE_ID__-media

NEXT_PUBLIC_SITE_ID=__SITE_ID__
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
