SITE_ID=beauty-station
MONGODB_URI=mongodb://127.0.0.1:27017/beauty-station
GCS_BUCKET_NAME=your-bucket-name

NEXT_PUBLIC_SITE_ID=beauty-station
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
